
#app-nav .active {
  font-weight: bold;
  text-decoration: underline;
}

.dark #app-nav {
  background-color: #166534;
  color: #f0fdf4;
}
#app-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fce7f3;
  color: i#831843;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); 
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

#app-nav .logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#app-nav .logo-container h1 {
  font-size: 2rem; 
  font-weight: bold;
}

.mobile-menu {
  display: none; 
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  padding: 1rem;
  background-color: #fce7f3;
  width: 100%;
  top: 64px;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius:  8px;
  transition:  trasform 0.3s ease-in-out;
  margin-top: 5px;
}

.mobile-menu.open {
  display: flex;
}

@media (max-width: 768px) {
  .desktop-menu {
      display: none;
  }
}
.dark .mobile-menu {
  background-color: #166535;
  color: #f0fdf4;
}